/* we will combine the two strategies */

/* not a good practice to add a lot of breakpoints */

/* a media query should work at a range of 200 - 300px */

/* we should use rem in media queries
instead of px */

/* rem and em do not depend on html font size in media queries
instead 1rem=1em=16px
ενω στην υπολοιπη css ειχαμε θεσει εμεις οτι 1rem=10px */
/* επισης χρησιμοποιουμε em */

/* we will first make the hero as wide as the 
rest sections 

οποτε ψαχνουμε breakpoint μεταξυ 1366 που ειναι μια κλασσικη τιμή
και 1300*/

/* 1350/16=84 peripou  1344px akrivws*/

/*******************************/
/*  BELLOW 1344px (smaller desktops) */
/******************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  /* me enan kanona mporei na spaei kati allo
   */
  .heading-primary {
    font-size: 4.4rem;
  }

  /* not a good practice to add a lot of breakpoints

    αρα χρησιμοοιουμε ενα που βαλαμε για να λυσουμε πολλα προβληματα
    πχ η gallery, gia na to lusoume mporoume 
    na valoume 2 stiles anti gia treis
    */

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* γενικα ενα προβλημα που πρεπει να 
παρατηρουμε οσο μικραινει η οθονη
ειναι οι πολυ λεπτες στηλες κειμενου
και να σπαει το κειμενο σε πολλες γραμμες 

επισης στο 100% φαινονται ολα huge*/

/* ena sixno breakpoint prepei na einai konta sto 1200 giati
ksekinane tablets /kinita 
kai στο 100% φαινονται ολα huge*/

/*******************************/
/*  BELLOW 1200px (landscape tablets) */
/******************************/

/* epeidi xrhsimopoioume se ola rem,  
ola einai depending sto font size tou html */
@media (max-width: 75em) {
  html {
    /* we put it 9px */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
  /* ωστοσο καποια κειμενακια φαινονται 
   πολυ μεγαλα ακομα, px ta headings
  kai episis isws xreiastei 
  na meiwsoume kai manually kai to spacing */
  .heading-third {
    font-size: 2.4rem;
  }

  .grid {
    gap: 6.4rem 4.8rem;
  }

  /* θελουμε το header na einai ευθυγραμμισμενο
    όχι πιο μεσα απο το content */
  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/*******************************/
/*  BELLOW 944px (tablets) */
/******************************/

/* αρα καθε φορα τεσταρουμε ενα media query mexri 200 katw px
na doume an spaei */
@media (max-width: 59em) {
  /* ena px katw */
  html {
    font-size: 50%;
  }

  /* kαποια grids να τα κανουμε μια στηλη,

οπως το hero section kai τα testimonials */

  /* otan apo duo columns to kanoume mia 
isws thelei stoixisi sto kentro */
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    margin-top: 3.2rem;
    justify-content: center;
  }

  /* smaller logos */

  .logo-img {
    height: 2.4rem;
  }

  .number {
    font-size: 7.4rem;
  }

  .meal-info-box {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  /* .img-gallery {
    width: 60%;
  } */

  /* change the size of grid columns*/
  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  /* we want to position absolutely 
  the main nav */

  .main-nav {
    /* we want the menu to be a little transparent */
    background-color: rgba(255, 255, 255, 0.97);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* to kanoume etsi gia na poianei oli 
    tin othoni */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* move it out of the screen  completely to the right */
    transform: translate(100%);

    /* gia na mi pianei xoro deksia */

    /* the third value of transition
    is the effect */
    transition: all 0.5s ease-in;

    /* hide the navigation by default */
    /* allows no transition at all */
    /* display: none; */

    /* hide it visually */
    opacity: 0;

    /* we have to make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* hide it from sceen readers */
    visibility: hidden;
  }

  /* when the nav open exists */
  .nav-open .main-nav {
    /* back to visible */
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/*******************************/
/*  BELLOW 704px (smaller tablets) */
/******************************/

/* we will transform every grid that has 3 or 4 cols in 2 cols

 */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1/3;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  /* i want to change the grid columns
    the last to be on top
  */

  /* the down row we want them to expand */
  /* TRICK

    grid with 6 columns

    the first 3 will expand in 2 cells

    the last 2 will expand in 3 cells */
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .address-col,
  .logo-col {
    grid-column: span 3;
  }
}

/*******************************/
/*  BELLOW 544px (phones) */
/******************************/

/* πλεον δεν θα εχουμε πουθενα πανω απο 1 στηλη */
@media (max-width: 34em) {
  /* html {
    font-size: 43.75%;
  } */

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .testimonials,
  .cta {
    grid-template-columns: repeat(1, 1fr);

    justify-items: center;
  }

  /* decrease the gap of all grids */
  .grid {
    row-gap: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  /* in phones we need big buttons that are easy to tap
    so we can increase the vertical padding
    na einai pio psila diladi */
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  /* SOS

it is nth-child(2) and not 1 because 
t is the second child of the parent container */
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  /* τι κανουμε οταν θελουμε ν αλλαξουμε το gap σε μερικα σημεια

  αλλα οχι σε ολο το grid */

  /* to translate transform DEN EPIREAZEI TA GURW STOIXEIA */
  .step-img-box {
    transform: translate(0, 24px);
  }

  .diets {
    grid-column: 1;
  }

  .plan-details {
    line-height: 1.2;
  }

  .logo-img {
    height: 1.2rem;
  }

  /* the image disappears because the div element has no content
  and it has it as a background image */
  .cta-image-box {
    height: 36rem;
    width: 100%;
    grid-row: 1;
  }
}
